*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    overflow: hidden;
}
.fireflies-container{
    position: relative;
    width: 750px;
    height: 750px;
}
.fireflies-container span{
    position: absolute;
    top:calc(80px * var(--i));
    left:calc(80px * var(--i));
    bottom:calc(80px * var(--i));
    right:calc(80px * var(--i));
}
.fireflies-container span:before{
    content:"";
    position: absolute;/*абсолютное позиционирование чтобы не влияли на другие элементы на странице*/
    background: #f00;
    top:50%;
    width: 15px;/*задание размера*/
    height: 15px;
    border-radius: 50%;/*делаем кружочки*/
    top:50%;
    left: -8px;
}
.fireflies-container span:nth-child(3n + 1):before{/*паттерн обхода элементов: 1, 4, 7, 10 и тд*/
    background: rgba(134, 255, 0, 1);/*салатовый*/
    box-shadow: 0 0 20px rgba(134, 255, 0, 1),/*свечение*/
                0 0 40px rgba(134, 255, 0, 1),
                0 0 60px rgba(134, 255, 0, 1),
                0 0 80px rgba(134, 255, 0, 1),
                0 0 0 8px rgba(134, 255, 0, .1);
}
